header
  figure.header__figure
    picture
      source.header__img(srcset="header_photo.webp" type="image/webp")
      img.header__img(src="header_photo.jpg" alt="header image")
    img.header__logo(src="header_logo.svg" alt="header logo")

