@font-face {
  font-family: Corinthia;
  font-style: normal;
  font-weight: normal;
  src: local("Corinthia"), url("../fonts/corinthia.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Whipsmart;
  font-style: normal;
  font-weight: normal;
  src: local("Whipsmart"), url("../fonts/whipsmart.ttf") format("truetype");
  font-display: swap;
}