section
  .container
    .about__grid
      picture
        source.header__img(srcset="about_photo.webp" type="image/webp")
        img.header__img(src="about_photo.jpg" alt="about photo")
      .about__text
        h1 Обо Мне
        p.
          Обо мне лучше всего можно узнать, придя на класс. Потому приглашаю!
          Но пока вы ещё не добрались до меня лично, вот несколько деталей из моей жизненной мозаики.

        p.
          В йоге с 2012 года, преподаю с 2017.
          В 2016-2017 обучалась на преподавательских курсах центра йоги "Прана".
          В 2017 познакомилась с йогой критического выравнивания (Critical Alignment).
          Этот метод работы с телом сильно повлиял на моё понимание практики и является её важнейшей частью по сей день.
          В этом методе я продолжаю развиваться и совершенствоваться.
          Практику хатха-йоги я строю, исходя из принципов анатомической осознанности, которая даёт безопасность
          и эффектиность, при этом не забывая о традиции и стараясь вести занимающихся - через тело -
          в глубину йогических процессов.

        p.
          Если говорить о физической составляющей, практика основывается на моей личной убеждённости в:
        ul.about__text_list
          li ✔ необходимости многообразного, разнопланового движения для долгой и осознанной жизни;
          li ✔ безоговорочной важности расслабления и снятия глубоких, часто неосознаваемых напряжений;
          li ✔ единстве и взаимозависимости состояния тела, ума и сознания;
          li ✔ существовании сил, больших чем мы с вами.

        p.
          Моей любовью на сегодня является нейро-мышечно-фасциальная система, и через эту анатомическую призму
          я ищу свои входы-выходы в телесную осознанность, работу с движением и практику освобождения ума.
          Важнейшей частью моей личной практики, её основой, является дзен во вьетнамской традиции (Тхить Нят Хань).
          Прожить свой путь, с любовью служа миру - моё скромное стремление. Каждый раз, когда вы приходите на класс,
          вы помогаете этому стремлению реализоваться. За что - БЛАГО-ДАРЮ.