html(lang="ru")
  head
    meta(charset="utf-8")
    link( rel="icon" href="favicon.svg" type="image/svg+xml" )
    title= "Йога с Олей"
    link( rel="stylesheet" href="./index.css" )
  body
    include ./nav/nav.pug
    include ./header/header.pug
    include ./about/about.pug
    include ./inspiration/inspiration.pug
    include ./classes/classes.pug


    include ./footer/footer.pug
