/* fonts family */
$font-primary: "Corinthia";
$font-secondary: "Whipsmart";

/* fonts sizes */
$font-small: 20px;
$line-small: 30px;
$font-regular: 24px;
$line-regular: 32px;
$font-large: 30px;
$line-large: 40px;
$font-larger: 36px;
$line-larger: 48px;
$font-xlarge: 48px;
$line-xlarge: 56px;

/* colors */
$white-regular: #FFFFFF;
$white-dark: #F6F6F6;
$black-lighter: #ABA8AF;
$black-light: #564F62;
$black-regular: #211E26;

/* screen sizes */
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;