-var n = 1
section
  .container
    h1 Вдохновение
    .gallery
      each item in media
        div(class="gallery__img gallery__item--" + n++)
          .photo
            a(href=item.link)
              img.gallery__img(src=item.src)
