nav.container
  .logo Йога с Олей
  ul
    .menu
      li 
        a(href="#about") Обо мне
      li 
        a(href="#method") Метод
      li 
        a(href="#inspiration") Вдохновение
      li 
        a(href="#classes") Занятия
      li 
        a(href="#events") События
