nav
  .nav__contianer
    .nav__logo Йога с Олей
    ul.nav__menu
        li.nav__item
          a(href="#about") Обо мне
        li.nav__item
          a(href="#method") Метод
        li.nav__item
          a(href="#inspiration") Вдохновение
        li.nav__item
          a(href="#classes") Занятия
        li.nav__item
          a(href="#events") События
