footer
  .footer__container
    .footer__copyright
        span &copy;&nbsp;
        span 2020 Ольга Чижикова
    div
      a(href="http://instagram.com/_u/olga.bodyspace/")
        img.footer__social(src="instagram.svg")
      a(href="https://www.facebook.com/%D0%99%D0%BE%D0%B3%D0%B0-%D1%81-%D0%9E%D0%BB%D0%B5%D0%B9-%D0%A7%D0%B8%D0%B6-1050239261782200/")
        img.footer__social(src="facebook.svg")